@use 'variables' as *;
@use 'mixins' as *;

.btn-primary {
  @include button-primary;
}

.btn-secondary {
  @include button-secondary;
}

.btn-primary {
  @include button-primary;
}

.btn-secondary {
  @include button-secondary;
}
